<!DOCTYPE html>
<html>
<head>
	<title>Animated Login Form</title>
	<link rel="stylesheet" type="text/css" href="./static/login.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="./static/wave.png">
	<div class="container">
		<div class="img">
			<img src="./static/net_icon.svg">
		</div>
		<div class="login-content">
			<form action="{{ url_for('logins') }}" method="post">
				<img src="./static/logo.png">
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<input type="text" name="username" placeholder="Username" required class="input">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i">
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	 <input type="password" name="password" placeholder="Password" required class="input">
            	   </div>
            	</div>

             <button type="submit"  class="btn">Login</button>
         </form>
        </div>
    </div>

</body>
</html>